
<h1>
    Request a Consultation
</h1>
<br />
<form>
    <label>
        Share the anticipated hours for my assistance.
    </label>
    <input type="text" id="numHours" />
    <br /><br />
    <label>
        Hourly Rate:
    </label>
    <input type="text" id="hourlyRate" value="25" readonly />
    <br /><br />
    <label>
        Calculate Estimate
    </label>
    <br />
    <input type="button" value="Calculate" id="estimate" />
    <br /><br />
    <span id="total" style="display: none; border: 2px solid #D3D3D3; padding: 15px"></span>
    <br /><br />
    <input type="button" value="Home" id="goHome" />
</form>